.container {
  max-width: $website-width;
  padding: 0 3rem;
  margin: auto;
  overflow: hidden;
  color: #fff;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    background-color: $main-color;
    color: set-text-color($main-color);
  }

  &-light {
    @extend %btn-shared;
    background-color: $light-color;
    color: set-text-color($light-color);
  }

  &-dark {
    @extend %btn-shared;
    background-color: $dark-color;
    color: set-text-color($dark-color);
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background: $main-color;
}

// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.f-size {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }

  &-5 {
    padding: 5rem 0;
  }
  &-6 {
    padding: 6rem 0;
  }
  &-7 {
    padding: 7rem 0;
  }
  &-8 {
    padding: 8rem 0;
  }
}

// Margin
.my {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
  &-5 {
    padding-bottom: 5rem;
  }
}

.bottom-line {
  border-bottom: 3px $main-color solid;
  padding-bottom: 0.5rem;
  width: 4.5rem;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}
